@tailwind base;
@tailwind components;
@tailwind utilities;

@import "reset";

@layer base {
  :root {
    --primary: 255 115 179;
    --color-secondary: 111 114 185;
  }
}
.primary-color {
  background: linear-gradient(
    45deg,
    var(--primary) 0%,
    var(--primary-grad2) 80%,
    var(--primary-grad3) 100%
  );
}
