.input {
  @apply p-3 rounded-md w-full placeholder-gray-600;
  border: 1px solid transparent;
  background-color: var(--background-inactive);

  &:focus {
    border: 1px solid var(--background-active);
    background-color: white;
  }
  padding: 14px 20px;

  &.has-icon {
    padding: 14px 60px 14px 20px;
  }
}

.inputWrapper {
  @apply relative;
}
