.input {
  @apply p-3 rounded-md w-full placeholder-gray-600;
  border: 1px solid transparent;
  background-color: var(--background-inactive);

  &:focus {
    border: 1px solid var(--background-active);
    background-color: white;
  }
  padding: 12px 20px;
}

.inputWrapper {
  @apply relative;
}

.icon-eye {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
