.button {
  &-base {
    @apply w-full px-[26px] rounded-md font-semibold cursor-pointer text-lg h-[54px] flex items-center justify-center;

    &:disabled {
      @apply opacity-50 pointer-events-none;
    }
  }
  &-primary {
    @extend .button-base;
    @apply background-gradient text-white;
  }

  &-secondary {
    @extend .button-base;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: var(--secondary);
      opacity: 0.5;
      z-index: -1;
    }

    @apply text-[var(--secondary)] border-2 border-[var(--secondary)];
  }
}
