//@import "../../styles/index.scss";

.header {
  @apply flex justify-between items-center my-4;
}

.header-logo {
  max-width: 240px;
}

.header-main {
  @apply flex;
}

.menu {
  @apply list-none flex gap-6;
  font-size: 16px;
  line-height: 2.75rem;
  font-weight: 500;
}

.search {
  @apply flex border items-center px-2 py-3 max-w-[320px] w-full gap-2 rounded-2xl cursor-pointer;

  &-icon {
    color: #ff0c0c;
  }

  &-input {
    @apply flex-1 pr-2;
  }
}

.button2 {
  @apply w-[120px];
}
