.post {
  &-wrapper {
    // @apply grid;
    // grid-template-columns: repeat(6, 1fr);
    @apply flex flex-col;
  }

  &-grid {
    @apply grid;
    grid-template-columns: repeat(6, 1fr);
  }

  &-heading {
    grid-column-end: span 4;
  }

  &-content {
    grid-column-end: span 4;
  }

  &-side-content {
    grid-column-end: span 7;
  }
}
