.post {
  &-wrapper {
    // @apply grid;
    // grid-template-columns: repeat(6, 1fr);
    @apply flex flex-col;
  }

  &-grid {
    @apply grid;
    grid-template-columns: repeat(6, 1fr);
  }

  &-heading {
    grid-column-end: span 4;
  }

  &-content {
    grid-column-end: span 4;
  }

  &-side-content {
    grid-column-start: 5;
    grid-column-end: 7;
  }
}

@media screen and (max-width: 940px) {
  .post {
    &-grid {
      grid-template-rows: repeat(2, auto);
    }
    &-content {
      grid-column-end: span 6;
      grid-row-start: 1;
    }
    &-side-content {
      grid-column-start: 1;
      margin-bottom: 96px;
    }
  }
}
