.banner-hero {
  @apply w-full cursor-pointer;
  display: grid;
  grid-template-columns: [thumb-start content-start] 1fr [thumb-end content-end];
  grid-template-rows: [thumb-start] 1fr [content-start] auto [thumb-end content-end];
}

.banner-thumb {
  @apply h-[520px] relative;

  grid-area: thumb;
  &::before {
    @apply w-full h-full rounded-lg;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(
      190deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 25%,
      rgba(0, 0, 0, 0.45) 60%,
      rgba(0, 0, 0, 0.9) 100%
    );

    z-index: 2;
    pointer-events: none;
  }
}

.banner-content {
  grid-area: content;
}
